@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Cedarville+Cursive&family=Lato:wght@300&family=Noto+Sans:ital,wght@1,200&family=Poppins:ital,wght@1,300&family=Titillium+Web:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Cedarville+Cursive&family=Lato:wght@300&family=Noto+Sans:ital,wght@1,200&family=Poppins:ital,wght@1,300&family=Titillium+Web:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Cedarville+Cursive&family=Lato:wght@300&family=Noto+Sans:ital,wght@1,200&family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@1,300&family=Titillium+Web:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  height: 700px;
  width: 100%;
  background-image: url(../Images/bg.jpg.webp);
  background-size: cover;
  color: #fff;
  z-index: -1;
}

header {
  padding-top: 4vh;
  padding-left: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 span {
  font-family: "Cedarville Cursive";
  font-size: 70px;
  font-weight: 600;
  color: rgb(184, 184, 249);
}

header h1 {
  font-family: "Artifika", serif;
  padding-left: -20px;
}

header p {
  margin-top: -52px;
  font-size: 20px;
  font-family: "Cedarville Cursive";
  color: rgb(253, 255, 121);
}

.links {
  margin-right: 40px;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
}

.links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-family: sans-serif;
}

.links ul li {
  margin-right: 30px;
}

.links ul li a:hover {
  transition: all 0.5s ease-in-out;
  color: orangered;
}

.links ul li:hover {
  text-decoration: underline;
  color: rgb(241, 253, 149);
  transition: all 0.5s ease-in-out;
}

.first2 h1 {
  text-align: center;
  font-size: 80px;
font-family: 'Open Sans', sans-serif;
  font-weight: 550;
}

.first2 {
  margin-top: 18vh;
  
}

.first2 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 217, 255);
  list-style: none;
  column-gap: 180px;
  padding-top: 1.5vh;
}

.first2 ul li{
font-size: 20px;
}

.first3{
  margin-left: 200px;
 margin-top: 18vh;
}

.input1{
  height: 53px;
  width: 36.4%;
  padding: 0 30px;
  margin-right: 22px;
  float: left;
  border: none;
  font-size: 14px;
}

.btn{
  display: inline-block;
    min-width: 196px;
    text-align: center;
    border: none;
    padding: 17px 10px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    color: #fff;
    cursor: pointer;
    background: #d82a4e;
}

.hero{
  height: auto;
  padding-bottom: 30px;
}

.hero h1{
  text-align: center;
  margin-top: -55px;
}

.section1{
  margin-top: 5vh;
}

.road{
  padding-top: 10vh;

  display: flex;
  align-items: center;
}

.road h2{
  font-size: 40px;
  margin-left: 550px;
}

.road img{
  margin-bottom: -10px;
 
}

.dark{
  margin-top: 20px;
  display: flex;

  justify-content: flex-end;
  margin-right: 50px;
}

.dark button{
  border: none;
  height: 50px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  
}

.dark button:first-child{
  border-right: 1px solid black;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

}

.dark button:last-child{
  border-left: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.cards{
  margin-left: 200px;
  margin-top: 6vh;
  display: flex;
}

.card1{
  border: 1px solid rgb(255, 0, 0);
  width: 200px;
  height: 220px;
  border-radius: 10px;
}
.p{
  padding-top: 8px;
  font-size: 20px;
}

.section1 h1{
  font-family: sans-serif;
  font-weight: 600;
}

.box{
  display: grid;
  margin-top: 70px;
  grid-template-columns: 35% 65%;

}

.box table{
  font-size: 25px;

}

.btn2{
  padding-top: 20px;
 
}

.btn2 button{
  padding: 20px 50px;
  margin-left: 20px;
  border-radius: 40px;
  background-color: cornflowerblue;
 border: none;
 font-size: 16px;
color: rgb(0, 0, 0);
cursor: pointer;
}

.btn2 button:hover{
  background-color: #d82a4e;
  color: #eafa00;
}

.section3{
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
 margin-bottom: 10px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
}

.section3 h3{
  text-align: center;
  color: white;
}

.s{
  padding-top: 5%;

}
.fa-users{
  margin-left: 40px;
}

.fa-money-bill-trend-up{
  margin-left: 40px;
}

.fa-building{
  margin-left: 40px;
}